body{
  background-color: #231D21;
  color: #231D21;
  font-family: 'Gudea', serif;

}

.container {
  width: 600px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: 30% 50% 20%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
  "header header picture"
  "sidebar main sidebar-right"
  "sidebar . sidebar-right";
}

.main{
  grid-area: main;
  background-color: #E8E5E8;
  padding-left: 10px;
  font-size: 12px;
  line-height: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.sidebar{
  grid-area: sidebar;
  background-color: #162140;
  padding-left: 10px;
  font-size: 15px;
  color: #eeeeee;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.header{
  grid-area: header;
  background-color: #E8E5E8;
  padding-left: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.sidebar-right{
  grid-area: sidebar-right;
  background-color: #E8E5E8;
  padding-left: 10px;
}

.footer{
  grid-area: footer;
  background-color: #EAE5D9;
  font-size: 25px;
  padding-left: 50px;
  text-align: center;
  vertical-align: top;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

#profilepic{
  height: 100%;
  width: 100%;
}

.picture{
  grid-area: picture;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.logo{
    vertical-align: middle;
    font-size: 40px;
    color: #E8E5E8;

}

.logo:hover{
  box-shadow: 2px 2px 62px -6px rgba(255,255,255,1);
}
@media only screen and (max-width: 500px){
  .container{
  grid-template-columns: 350px;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
  "header"
  "main"
  "sidebar"
  "sidebar-right"
}
.main {
  padding-bottom: 10px;
}
.header {
  padding-bottom: 10px;
}
.picture{
  display: none;
}
.sidebar-right{
  margin-bottom: 20px;
}
}
