.container {
  height: 600px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 5% 25% 5% 50% 15%;
  grid-template-areas:
  "overline overline overline"
  "picture header header"
  "underline underline underline"
  "sidebar main sidebar2"
  "sidebar footer footer";
}
.main{
  grid-area: main;
  background-color: #EAE5D9
}

.sidebar{
  grid-area: sidebar;
  background-color: #747374;
}

.header{
  grid-area: header;
  background-color: #EAE5D9;
}
.sidebar2{
  grid-area: sidebar2;
  background-color: #EAE5D9;
}

.footer{
  grid-area: footer;
  background-color: #EAE5D9;
}
#profilepic{
  height: 100%;
  width: 100%;
}
.overline{
  grid-area: overline;
  background-color: #F8F8F8;
}
.underline{
  grid-area: underline;
  background-color: #F8F8F8;
}
